@model Fodboldklub.Models.MembersViewModel

@{
	ViewData["Title"] = "List";
}

<h1>Medlemsoversigt</h1>
<p>
	<a asp-action="Create">Opret Medlem</a>
</p>
<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Members![0].FirstName)
			</th>
			<th>
				<a asp-action="List" asp-route-sortOrder="@ViewData["LastNameSortParm"]">
					@Html.DisplayNameFor(model => model.Members![0].LastName)
				</a>
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Members![0].Address)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Members![0].Phone)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Members![0].Email)
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model.Members!)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.FirstName)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.LastName)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Address)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Phone)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Email)
				</td>
				<td>
					<a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
					@Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
					<a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
				</td>
			</tr>
		}
	</tbody>
</table>
